<h2 mat-dialog-title><mat-icon>security</mat-icon><span class="ml-2 text-3xl font-extrabold text-primary">{{ 'label.legalPrivacy' | translate }}</span></h2>
<mat-dialog-content class="mat-typography text-base leading-relaxed">
  <h3 class="text-2xl font-bold pb-1 mt-6 mb-3">{{ 'legalPrivacy.impressumHeader' | translate }}</h3>
  <div class="mb-4">
    <h4 class="text-lg font-semibold mt-6 mb-2">{{ 'legalPrivacy.tmgInfo' | translate }}</h4>
    <p>{{ 'legalPrivacy.company' | translate }}</p>
    <p>{{ 'legalPrivacy.street' | translate }}</p>
    <p>{{ 'legalPrivacy.plzCity' | translate }}</p>
    <p>{{ 'legalPrivacy.contry' | translate }}</p><br>
    <h4 class="text-lg font-semibold mt-6 mb-2">{{ 'legalPrivacy.representedBy' | translate }}</h4>
    <p>{{ 'legalPrivacy.person' | translate }}</p>
    <h4 class="text-lg font-semibold mt-6 mb-2">{{ 'legalPrivacy.contact' | translate }}</h4>
    <a href="mailto:{{ 'legalPrivacy.email' | translate }}">{{ 'legalPrivacy.email' | translate }}</a>
    <h4 class="text-lg font-semibold mt-6 mb-2">{{ 'legalPrivacy.vatIdLabel' | translate }}</h4>
    <p>{{ 'legalPrivacy.vatIdText' | translate }}</p>
    <h4 class="text-lg font-semibold mt-6 mb-2">{{ 'legalPrivacy.responsibleLabel' | translate }}</h4>
    <p>{{ 'legalPrivacy.person' | translate }}</p>
  </div>
  <mat-divider></mat-divider>
  <h3 class="text-2xl font-bold pb-1 mt-6 mb-3">{{ 'legalPrivacy.privacyHeader' | translate }}</h3>
  <div class="mb-4">
    <p>{{ 'legalPrivacy.privacyIntro' | translate }}</p><br>
    <p>{{ 'legalPrivacy.privacyText' | translate }}</p>
  </div>
  <h4 class="text-lg font-semibold mt-6 mb-2">{{ 'legalPrivacy.responsibleTitle' | translate }}</h4>
  <div class="mb-4">
    <p>{{ 'legalPrivacy.company' | translate }}</p>
    <p>{{ 'legalPrivacy.street' | translate }}</p>
    <p>{{ 'legalPrivacy.plzCity' | translate }}</p>
    <p>{{ 'legalPrivacy.contry' | translate }}</p>
  </div>
  <h4 class="text-lg font-semibold mt-6 mb-2">{{ 'legalPrivacy.dataCollection.title' | translate }}</h4>
  <p class="mb-2">{{ 'legalPrivacy.dataCollection.text.top' | translate }}</p>
  <mat-list role="list" class="mb-4">
    <mat-list-item role="listitem">• {{ 'legalPrivacy.dataCollection.list.1' | translate }}</mat-list-item>
    <mat-list-item role="listitem">• {{ 'legalPrivacy.dataCollection.list.2' | translate }}</mat-list-item>
    <mat-list-item role="listitem">• {{ 'legalPrivacy.dataCollection.list.3' | translate }}</mat-list-item>
    <mat-list-item role="listitem">• {{ 'legalPrivacy.dataCollection.list.4' | translate }}</mat-list-item>
    <mat-list-item role="listitem">• {{ 'legalPrivacy.dataCollection.list.5' | translate }}</mat-list-item>
  </mat-list>
  <p class="mb-4">{{ 'legalPrivacy.dataCollection.text.bottom' | translate }}</p>
  <h4 class="text-lg font-semibold mt-6 mb-2">{{ 'legalPrivacy.technologies.title' | translate }}</h4>
  <p class="mb-2">{{ 'legalPrivacy.technologies.text.top' | translate }}</p>
  <mat-list role="list" class="mb-4">
    <mat-list-item role="listitem">• {{ 'legalPrivacy.technologies.list.1' | translate }}</mat-list-item>
    <mat-list-item role="listitem">• {{ 'legalPrivacy.technologies.list.2' | translate }}</mat-list-item>
    <mat-list-item role="listitem">• {{ 'legalPrivacy.technologies.list.3' | translate }}</mat-list-item>
    <mat-list-item role="listitem">• {{ 'legalPrivacy.technologies.list.4' | translate }}</mat-list-item>
    <mat-list-item role="listitem">• {{ 'legalPrivacy.technologies.list.5' | translate }}</mat-list-item>
  </mat-list>
  <p class="mb-4">{{ 'legalPrivacy.technologies.text.bottom' | translate }}</p>
  <h4 class="text-lg font-semibold mt-6 mb-2">{{ 'legalPrivacy.contactFormTitle' | translate }}</h4>
  <p class="mb-4">{{ 'legalPrivacy.contactFormText' | translate }}</p>
  <h4 class="text-lg font-semibold mt-6 mb-2">{{ 'legalPrivacy.rideshareTitle' | translate }}</h4>
  <p class="mb-4">{{ 'legalPrivacy.rideshareText' | translate }}</p>
  <h4 class="text-lg font-semibold mt-6 mb-2">{{ 'legalPrivacy.yourRights.title' | translate }}</h4>
  <p class="mb-2">{{ 'legalPrivacy.yourRights.text' | translate }}</p>
  <mat-list role="list" class="mb-4">
    <mat-list-item role="listitem">• {{ 'legalPrivacy.yourRights.list.1' | translate }}</mat-list-item>
    <mat-list-item role="listitem">• {{ 'legalPrivacy.yourRights.list.2' | translate }}</mat-list-item>
    <mat-list-item role="listitem">• {{ 'legalPrivacy.yourRights.list.3' | translate }}</mat-list-item>
    <mat-list-item role="listitem">• {{ 'legalPrivacy.yourRights.list.4' | translate }}</mat-list-item>
    <mat-list-item role="listitem">• {{ 'legalPrivacy.yourRights.list.5' | translate }}</mat-list-item>
    <mat-list-item role="listitem">• {{ 'legalPrivacy.yourRights.list.6' | translate }}</mat-list-item>
  </mat-list>
  <h4 class="text-lg font-semibold mt-6 mb-2">{{ 'legalPrivacy.retentionTitle' | translate }}</h4>
  <p class="mb-4">{{ 'legalPrivacy.retentionText' | translate }}</p>
  <h4 class="text-lg font-semibold mt-6 mb-2">{{ 'legalPrivacy.securityTitle' | translate }}</h4>
  <p class="mb-4">{{ 'legalPrivacy.securityText' | translate }}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ 'button.closed' | translate}}</button>
</mat-dialog-actions>