<div class="flex items-center justify-center h-screen p-2">
    <mat-card appearance="outlined">
        <mat-card-content>
            <div class="p-6">
                <h1 class="flex justify-center text-3xl font-bold">{{'label.resetPassword' | translate}}</h1>
                <mat-divider></mat-divider>
                <form [formGroup]="resetForm" class="p-4 mt-2">
                    <mat-form-field class="w-full">
                        <mat-label>{{'input.email' | translate}}</mat-label>
                        <input matInput type="email" formControlName="email">
                        <mat-error
                            *ngIf="resetForm.get('email')?.hasError('required') && resetForm.get('email')?.touched">
                            {{ 'error.notNull' | translate }}
                        </mat-error>
                        <mat-error *ngIf="resetForm.get('email')?.hasError('email') && resetForm.get('email')?.touched">
                            {{ 'error.email' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="w-full mt-1">
                        <mat-label>{{'input.password' | translate}}</mat-label>
                        <input matInput [type]="isPasswordVisible ? 'text' : 'password'" formControlName="password">
                        <mat-error
                            *ngIf="resetForm.get('password')?.hasError('required') && resetForm.get('password')?.touched">{{"error.notNull"
                            | translate}}</mat-error>
                        <mat-error *ngIf="resetForm.get('password')?.hasError('passwordInvalid')">
                            {{ 'error.passwordInvalid' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="w-full">
                        <mat-label>{{'input.confirmPassword' | translate}}</mat-label>
                        <input matInput [type]="isPasswordVisible ? 'text' : 'password'"
                            formControlName="confirmPassword">
                        <mat-error
                            *ngIf="resetForm.get('confirmPassword')?.hasError('required') && resetForm.get('confirmPassword')?.touched">{{"error.notNull"
                            | translate}}</mat-error>
                        <mat-error *ngIf="resetForm.get('confirmPassword')?.hasError('confirmPassword')">
                            {{ 'error.confirmPassword' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <p class="flex justify-center text-sm secundaryText">({{'label.passwordRequirement' | translate}})
                    </p>
                    <mat-checkbox class="w-full" [checked]="isPasswordVisible" (change)="changePasswordVisible()">
                        {{'label.passwordVisible' | translate}}
                    </mat-checkbox>
                </form>
                <app-code-input mainTitle="label.passwordRestCode" inputTitle="label.accountActiveInfo"
                    [isNotNullError]="isCodeNull" (refresOutputEvent)="sendCode()"
                    (codeOutputEvent)="setCode($event)"></app-code-input>
                <div class="flex justify-end">
                    <a mat-button routerLink="/login">{{'button.cancel' | translate}}</a>
                    <button mat-flat-button color="primary" (click)="updatePassword()">{{'button.reset' |
                        translate}}</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>