:host {
  display: block;
  height: 600px; 
}

.map-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  transform: none;
  zoom: 1;
}

.map {
  width: 100%;
  height: 100%;
  transform: none;
  zoom: 1;
}